<a href="/">Homepage</a>

<form action="/create" method="post">
  Fill in the form below:<br>
  <input placeholder="Enter a stock" name="stock[name]" /><br>
  <input placeholder="Enter the sector" name="stock[sector]" /><br>
  <input placeholder="Enter the price" name="stock[price]"/><br>
  <input type="submit"></input>
</form>
