<a href="/">Homepage</a>
<h1> Which stock would you like to remove? </h1>

<form action="/destroy" method="post">
  Which stock would you like to remove?:<br>
  <input placeholder="Enter the stock" name="stock[id]" /><br>

  <input type="submit"></input>
</form>
