<h1>Update a stock </h1>

<form action="/update" method="post">
  Which stock would you like to update?:<br>
  
  <input placeholder="Enter the stock" name="stock" /><br>
  <br />
  Create updates:<br>
  <input placeholder="Enter the stock" name="stock[new_name]" /><br>
  <input type="submit"></input>
</form>
